<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Restaurant</th>
        <th scope="col">Adress</th>
        <th scope="col">Email</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of collection">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.address}}</td>
        <td>{{item.email}}</td>
        <td>
            <button (click)="deletTheResto(item.id)" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </td>
      </tr>
    </tbody>
  </table>