<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Restaurant</th>
        <th scope="col">Adress</th>
        <th scope="col">Email</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of collection">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.address}}</td>
        <td>{{item.email}}</td>
        <td>
            <i style="color: red;" (click)="deletTheResto(item.id)" class="fas fa-trash"></i>
            <a routerLink="/update/{{item.id}}"><i style="color: blue;padding-left: 5px;" class="fas fa-edit"></i></a>
        </td>
      </tr>
    </tbody>
  </table>